div{
    background-color: green;
    background-color: yellow;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    color: blue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.Titlecabecera{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10PX 40PX 10PX 40PX;
    border: solid greenyellow;
}
.Titlecabecera h1, P{
    color: white;
}